/* TechCode Multipurpose Business HTML-5 Template */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header
5. Slider One / Two / Three
6. Services One / Two / Three / Four / Five
7. About One / Two / Three / Four / Five
8. Team One / Two / Three / Four / Five
9. Faq One / Two / Three / Four
10. Work One
11. CTA One / Two / Three / Four / Five / Six
12. Testimonial One / Two / Three
13. Clients One
14. Main Footer
15. Process One / Two / Three / Four
16. Gallery One / Two / Three
17. Price One
18. News One / Two / Three / Four / Five
19. Counter One / Two / Three
20. Talk One
21. Help One
22. Skill One
23. Fluid One
24. Transaction One
25. Subscribe One
26. Video One
27. Contact Form
28. Map

**********************************************/

/* 

	font-family: 'Manrope', sans-serif;
	
*/

/*** 

====================================================================
	Root Code Variables
====================================================================

 ***/

.theme_color{
	color:var(--main-color);
}

/* Theme Color */

:root {
  --headings-color: #0f0f0f;
  --body-font-size: 16px;
  --text-color: #6a6a6a;
  --body-line-height: 30px;
  --body-font-weight: 500;

  --theme-color1: #745eff;
  --theme-color2: #f8bc26;
	
	/* #745EFF in decimal RGB */
	--main-color: rgb(116,94,255);
	--main-color-rgb:116,94,255;
	
	/* #010D4C in decimal RGB */
	--color-two: rgb(15,15,15);
	--color-two-rgb:15,15,15;
    
    /* #F8BC26 in decimal RGB */
	--color-three: rgb(248,188,38);
	--color-three-rgb:248,188,38;

    /* #335371 in decimal RGB */
	--color-four: rgb(106,106,106);
	--color-four-rgb:106,106,106;
    
    /* #E1E1E1 in decimal RGB */
	--color-five: rgb(225,225,225);
	--color-five-rgb:225,225,225;
    
    /* #F8FBFF in decimal RGB */
	--color-six: rgb(248,251,255);
	--color-six-rgb:248,251,255;

    /* #0E1955 in decimal RGB */
	--color-seven: rgb(14,25,85);
	--color-seven-rgb:14,25,85;
    
    /* #E7EDFF in decimal RGB */
	--color-eight: rgb(231,237,255);
	--color-eight-rgb:231,237,255;
    
    /* #2949ff in decimal RGB */
	--color-nine: rgb(41,73,255);
	--color-nine-rgb:41,73,255;
    
    /* #67687A in decimal RGB */
	--color-ten: rgb(103,104,122);
	--color-ten-rgb:103,104,122;
    
    /* #F0EFF5 in decimal RGB */
	--color-eleven: rgb(240,239,245);
	--color-eleven-rgb:240,239,245;

    /* #F23936 in decimal RGB */
	--color-twelve: rgb(242,57,54);
	--color-twelve-rgb:242,57,54;
    
    /* #008EFF in decimal RGB */
	--color-thirteen: rgb(0,142,255);
	--color-thirteen-rgb:0,142,255;

    /* #45C646 in decimal RGB */
	--color-fourteen: rgb(69,198,70);
	--color-fourteen-rgb:69,198,70;

    /* #FABB18 in decimal RGB */
	--color-fifteen: rgb(250,187,24);
	--color-fifteen-rgb:250,187,24;

    /* #FF6446 in decimal RGB */
	--color-sixteen: rgb(255,100,70);
	--color-sixteen-rgb:255,100,70;

    /* #E3E3E3 in decimal RGB */
	--color-seventeen: rgb(227,227,227);
	--color-seventeen-rgb:227,227,227;
    
    /* #0A1552 in decimal RGB */
	--color-eighteen: rgb(10,21,82);
	--color-eighteen-rgb:10,21,82;


  --theme-color-gray: #F2F3F5;
  --theme-light-background: #F2F3F5;


  
	/* #ffffff in decimal RGB */
	--white-color:rgb(255,255,255);
	--white-color-rgb:255,255,255;

	/* #000000 in decimal RGB */
	--black-color:rgb(0,0,0);
	--black-color-rgb:0,0,0;


	
  
	/* Fonts */
	--font-family-current-item: 'Manrope', sans-serif;
  
	
/* Heading Fonts */
  
  --font-10: 10px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-17: 17px;
  --font-18: 18px;
  --font-19: 19px;
  --font-20: 20px;
  --font-22: 22px;
  --font-24: 24px;
  --font-26: 26px;
  --font-28: 28px;
  --font-30: 30px;
  --font-32: 32px;
  --font-34: 34px;
  --font-36: 36px;
  --font-40: 40px;
  --font-44: 44px;
  --font-46: 46px;
  --font-48: 48px;
  --font-50: 50px;
  --font-52: 52px;
  --font-54: 54px;
  --font-55: 55px;
  --font-56: 56px;
  --font-57: 57px;
  --font-58: 58px;
  --font-60: 60px;
  --font-62: 62px;
  --font-64: 64px;
  --font-66: 66px;
  --font-68: 68px;
  --font-70: 70px;
  --font-72: 72px;
  --font-74: 74px;
  --font-76: 76px;
  --font-78: 78px;
  --font-80: 80px;
  --font-82: 82px;
  --font-84: 84px;
  --font-90: 90px;
  --font-96: 96px;
  --font-100: 100px;
  --font-110: 110px;
  --font-120: 120px;
  --font-150: 150px;
  --font-200: 200px;
  




  --margin-zero: 0px;
  
  /* Margin Left Variables */
  --margin-left-5: 5px;
  --margin-left-10: 10px;
  --margin-left-15: 15px;
  --margin-left-20: 20px;
  --margin-left-25: 25px;
  --margin-left-30: 30px;
  --margin-left-35: 35px;
  --margin-left-40: 40px;
  --margin-left-45: 45px;
  --margin-left-50: 50px;
  --margin-left-55: 55px;
  --margin-left-60: 60px;
  --margin-left-65: 65px;
  --margin-left-70: 70px;
  --margin-left-75: 75px;
  --margin-left-80: 80px;
  --margin-left-85: 85px;
  --margin-left-90: 90px;
  --margin-left-95: 95px;
  --margin-left-100: 100px;
  --margin-left-120: 120px;
  --margin-left-150: 150px;
  
  /* Margin Top Variables */
  --margin-top-5: 5px;
  --margin-top-10: 10px;
  --margin-top-15: 15px;
  --margin-top-20: 20px;
  --margin-top-21: 21px;
  --margin-top-25: 25px;
  --margin-top-30: 30px;
  --margin-top-35: 35px;
  --margin-top-40: 40px;
  --margin-top-45: 45px;
  --margin-top-50: 50px;
  --margin-top-55: 55px;
  --margin-top-60: 60px;
  --margin-top-65: 65px;
  --margin-top-70: 70px;
  --margin-top-75: 75px;
  --margin-top-80: 80px;
  --margin-top-85: 85px;
  --margin-top-90: 90px;
  --margin-top-95: 95px;
  --margin-top-100: 100px;
  --margin-top-120: 120px;
  --margin-top-140: 140px;
  --margin-top-150: 150px;
  
  /* Margin Right Variables */
  --margin-right-5: 5px;
  --margin-right-10: 10px;
  --margin-right-15: 15px;
  --margin-right-20: 20px;
  --margin-right-25: 25px;
  --margin-right-30: 30px;
  --margin-right-35: 35px;
  --margin-right-40: 40px;
  --margin-right-45: 45px;
  --margin-right-50: 50px;
  --margin-right-55: 55px;
  --margin-right-60: 60px;
  --margin-right-65: 65px;
  --margin-right-70: 70px;
  --margin-right-75: 75px;
  --margin-right-80: 80px;
  --margin-right-85: 85px;
  --margin-right-90: 90px;
  --margin-right-95: 95px;
  --margin-right-100: 100px;
  --margin-right-110: 110px;
  
  /* Margin Bottom Variables */
  --margin-bottom-5: 5px;
  --margin-bottom-10: 10px;
  --margin-bottom-15: 15px;
  --margin-bottom-20: 20px;
  --margin-bottom-25: 25px;
  --margin-bottom-30: 30px;
  --margin-bottom-35: 35px;
  --margin-bottom-40: 40px;
  --margin-bottom-45: 45px;
  --margin-bottom-50: 50px;
  --margin-bottom-55: 55px;
  --margin-bottom-60: 60px;
  --margin-bottom-65: 65px;
  --margin-bottom-70: 70px;
  --margin-bottom-75: 75px;
  --margin-bottom-80: 80px;
  --margin-bottom-85: 85px;
  --margin-bottom-90: 90px;
  --margin-bottom-95: 95px;
  --margin-bottom-100: 100px;
  --margin-bottom-130: 130px;
  --margin-bottom-150: 150px;
  --margin-bottom-200: 200px;
  
  
  --padding-zero: 0px;
  
  /* Padding Left Variables */
  --padding-left-5: 5px;
  --padding-left-10: 10px;
  --padding-left-15: 15px;
  --padding-left-20: 20px;
  --padding-left-25: 25px;
  --padding-left-30: 30px;
  --padding-left-35: 35px;
  --padding-left-40: 40px;
  --padding-left-45: 45px;
  --padding-left-50: 50px;
  --padding-left-55: 55px;
  --padding-left-60: 60px;
  --padding-left-65: 65px;
  --padding-left-70: 70px;
  --padding-left-75: 75px;
  --padding-left-80: 80px;
  --padding-left-85: 85px;
  --padding-left-90: 90px;
  --padding-left-95: 95px;
  --padding-left-100: 100px;
  --padding-left-110: 110px;
  --padding-left-115: 115px;
  --padding-left-120: 120px;
  --padding-left-130: 130px;
  --padding-left-140: 140px;
  --padding-left-150: 150px;
  --padding-left-160: 160px;
  --padding-left-170: 170px;
  --padding-left-180: 180px;
  --padding-left-190: 190px;
  --padding-left-200: 200px;
  --padding-left-240: 240px;
  --padding-left-290: 290px;
  
  /* Padding Top Variables */
  --padding-top-5: 5px;
  --padding-top-10: 10px;
  --padding-top-15: 15px;
  --padding-top-20: 20px;
  --padding-top-25: 25px;
  --padding-top-30: 30px;
  --padding-top-35: 35px;
  --padding-top-40: 40px;
  --padding-top-45: 45px;
  --padding-top-50: 50px;
  --padding-top-55: 55px;
  --padding-top-60: 60px;
  --padding-top-65: 65px;
  --padding-top-70: 70px;
  --padding-top-75: 75px;
  --padding-top-80: 80px;
  --padding-top-85: 85px;
  --padding-top-90: 90px;
  --padding-top-95: 95px;
  --padding-top-100: 100px;
  --padding-top-110: 110px;
  --padding-top-120: 120px;
  --padding-top-125: 125px;
  --padding-top-130: 130px;
  --padding-top-140: 140px;
  --padding-top-150: 150px;
  --padding-top-155: 155px;
  --padding-top-160: 160px;
  --padding-top-180: 180px;
  --padding-top-200: 200px;
  --padding-top-250: 250px;
  
  /* Padding Right Variables */
  --padding-right-5: 5px;
  --padding-right-10: 10px;
  --padding-right-15: 15px;
  --padding-right-20: 20px;
  --padding-right-25: 25px;
  --padding-right-30: 30px;
  --padding-right-35: 35px;
  --padding-right-40: 40px;
  --padding-right-45: 45px;
  --padding-right-50: 50px;
  --padding-right-55: 55px;
  --padding-right-60: 60px;
  --padding-right-65: 65px;
  --padding-right-70: 70px;
  --padding-right-75: 75px;
  --padding-right-80: 80px;
  --padding-right-85: 85px;
  --padding-right-90: 90px;
  --padding-right-95: 95px;
  --padding-right-100: 100px;
  --padding-right-110: 110px;
  --padding-right-120: 120px;
  --padding-right-150: 150px;
  --padding-right-160: 160px;
  --padding-right-170: 170px;
  --padding-right-180: 180px;
  --padding-right-200: 200px;
  --padding-right-220: 220px;
  --padding-right-240: 240px;
  --padding-right-250: 250px;
  --padding-right-260: 260px;
  
  /* Padding Bottom Variables */
  --padding-bottom-5: 5px;
  --padding-bottom-10: 10px;
  --padding-bottom-15: 15px;
  --padding-bottom-20: 20px;
  --padding-bottom-25: 25px;
  --padding-bottom-30: 30px;
  --padding-bottom-35: 35px;
  --padding-bottom-40: 40px;
  --padding-bottom-45: 45px;
  --padding-bottom-50: 50px;
  --padding-bottom-55: 55px;
  --padding-bottom-60: 60px;
  --padding-bottom-65: 65px;
  --padding-bottom-70: 70px;
  --padding-bottom-75: 75px;
  --padding-bottom-80: 80px;
  --padding-bottom-85: 85px;
  --padding-bottom-90: 90px;
  --padding-bottom-95: 95px;
  --padding-bottom-100: 100px;
  --padding-bottom-110: 110px;
  --padding-bottom-120: 120px;
  --padding-bottom-130: 130px;
  --padding-bottom-150: 150px;
  --padding-bottom-200: 200px;
  --padding-bottom-250: 250px;

}

/*** 

====================================================================
	Reset
====================================================================

 ***/
 
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

@font-face {
    font-family: 'Silent Reaction';
    src: url('../fonts/SilentReaction.html');
    src: url('../fonts/SilentReactiond41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/SilentReaction-2.html') format('woff2'),
        url('../fonts/SilentReaction-3.html') format('woff'),
        url('../fonts/SilentReaction-4.html') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*** 

====================================================================
	Global Settings
====================================================================

***/


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-three);
}


body {
  color: var(--text-color);
  font-size: var(--body-font-size);
  font-family: var(--text-font);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  font-family:var(--font-family-current-item);
	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

/* Preloader */

.preloader{ 
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:999999999;
	background-color:#ffffff;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(../images/icons/preloader.svg);
	background-size:120px;
}

.grey-body{
    background-color: var(--color-eighteen);
}

.bordered-layout .page-wrapper{
	padding:0px 50px 0px;
}

a{
	text-decoration:none;
	cursor:pointer;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	color:var(--main-color);
}

button,
a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none !important;
}

h1,h2,h3,h4,h5,h6 {
  position:relative;
  margin:0px;
  background:none;
  color:var(--headings-color);
  font-family:var(--font-family-current-item);
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color:var(--headings-color);
}

input,button,select,textarea{
	
}

textarea{
	overflow:hidden;
}

.text,
p{
	position:relative
}

/* Typography */

h1{
	line-height:92px;
	font-weight:700;
	font-size:var(--font-82);
}

h2{
  line-height: 70px;
	font-weight:700;
	font-size: 46px;
}

h3{
	line-height:38px;
	font-weight:700;
	font-size:36px;
}

h4{
	line-height:34px;
	font-weight:700;
	font-size:var(--font-24);
}

h5{
	line-height:30px;
	font-weight:700;
	font-size:var(--font-20);
}

h6{
	line-height:28px;
	font-weight:700;
	font-size:var(--font-18);
}

.auto-container{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
  width: 100%;
}

.large-container{
  position:static;
  max-width:1300px;
  padding:0px 15px;
  margin:0 auto;
}

.medium-container{
	position:static;
	max-width:1000px;
	padding:0px 15px;
	margin:0 auto;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

img{
	display:inline-block;
	max-width:100%;
}

.theme-btn{
	cursor:pointer;
	display:inline-block;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.centered{
	text-align:center;	
}

::-webkit-input-placeholder{color: inherit;}
::-moz-input-placeholder{color: inherit;}
::-ms-input-placeholder{color: inherit;}

/***

====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top{
	position:fixed;
	bottom:15px;
	right:15px;
	width:40px;
	height:40px;
	color:var(--main-color);
	font-size:var(--font-20);
	text-transform:uppercase;
	line-height:38px;
	text-align:center;
	z-index:100;
	cursor:pointer;
	display:none;
	background:var(--white-color);
	box-shadow:0px 0px 10px rgba(0,0,0,0.15);
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
    font-family: 'Font Awesome 5 Pro';
}

.scroll-to-top:hover{
	color:var(--white-color);
	background:var(--main-color);
}

/* List Style One */

.list-style-one{
	position:relative;
}

.list-style-one li{
	position:relative;
	color:var(--white-color);
	font-size:var(--font-16);
	font-weight:400;
	line-height:1.8em;
	margin-bottom:var(--margin-bottom-10);
	padding-left:var(--padding-left-30);
}

.list-style-one li a{
	position:relative;
	color:var(--white-color);
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.list-style-one li a:hover{
	color:var(--main-color);
}

.list-style-one li .icon{
	position:absolute;
	left:0px;
	top:5px;
	color:var(--main-color);
	font-size:var(--font-18);
	line-height:1em;
	font-weight:300;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

/* Btn Style One */

.btn-style-one{ 
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:5px;
	padding:18px 40px;
	display:inline-block;
	color: var(--white-color);
	font-size: var(--font-17);
	text-transform: capitalize;
	background-color: var(--main-color);
	font-family:var(--font-family-Fredoka);
}

.btn-style-one:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-color: var(--white-color);
}

.btn-style-one:hover:before{
	top: 0%;
}

.btn-style-one .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-one .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--white-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-one .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--main-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-one:hover .btn-wrap .text-two,
.btn-style-one:hover .btn-title{
	color: var(--main-color);
}
.btn-style-one .btn-title{
  z-index: 1;
  position: relative;
}

.btn-style-one:hover{
}

.btn-style-one:hover:before{
	top: -40%;
}

/* Btn Style Two */

.btn-style-two{
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:5px;
	padding:18px 38px;
	display:inline-block;
	color: var(--white-color);
	font-size: var(--font-17);
	text-transform: uppercase;
	background-color: var(--theme-color2);
}

.btn-style-two:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-color:var(--headings-color);
}

.btn-style-two:hover:before{
	top: 0%;
}

.btn-style-two i{
    position: relative;
    top: 1px;
    line-height: 1em;
    margin-left: var(--margin-left-10);
}

.btn-style-two .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-two .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--white-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-two .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--white-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-two:hover .btn-wrap .text-two{
	color: var(--white-color);
}

.btn-style-two:hover{
	
}

.btn-style-two:hover:before{
	top: -40%;
}

/* Btn Style Three */

.btn-style-three{
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:5px;
	padding:18px 38px;
	display:inline-block;
	color: var(--headings-color);
	font-size: var(--font-17);
	text-transform: capitalize;
	background-color: var(--color-three);
}

.btn-style-three:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-color:var(--headings-color);
}

.btn-style-three:hover:before{
	top: 0%;
}

.btn-style-three i{
    position: relative;
    top: 1px;
    line-height: 1em;
    margin-left: var(--margin-left-10);
}

.btn-style-three .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-three .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--headings-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-three:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-three .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--headings-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-three:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-three:hover .btn-wrap .text-two{
	color: var(--white-color);
}

.btn-style-three:hover{
	
}

.btn-style-three:hover:before{
	top: -40%;
}

/* Btn Style Four */

.btn-style-four{
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:5px;
	padding:18px 38px;
	display:inline-block;
	color: var(--white-color);
	font-size: var(--font-17);
	text-transform: capitalize;
	border: 1px solid var(--main-color);
}

.btn-style-four:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-color:var(--main-color);
}

.btn-style-four:hover:before{
	top: 0%;
}

.btn-style-four .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-four .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--white-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-four:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-four .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--headings-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-four:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-four:hover .btn-wrap .text-two{
	color: var(--white-color);
}

.btn-style-four:hover{
	
}

.btn-style-four:hover:before{
	top: -40%;
}

/* Btn Style Five */

.btn-style-five{
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:5px;
	padding:18px 38px;
	display:inline-block;
	color: var(--headings-color);
	font-size: var(--font-17);
	text-transform: capitalize;
	border: 1px solid var(--main-color);
}

.btn-style-five:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-color:var(--main-color);
}

.btn-style-five:hover:before{
	top: 0%;
}

.btn-style-five .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-five .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--headings-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-five:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-five .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--headings-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-five:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-five:hover .btn-wrap .text-two{
	color: var(--white-color);
}

.btn-style-five:hover{
	
}

.btn-style-five:hover:before{
	top: -40%;
}

/* Btn Style Six */

.btn-style-six{
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:5px;
	padding:18px 38px;
	display:inline-block;
	color: var(--headings-color);
	font-size: var(--font-17);
	text-transform: capitalize;
	background-color: var(--color-three);
}

.btn-style-six:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-color:var(--white-color);
}

.btn-style-six:hover:before{
	top: 0%;
}

.btn-style-six i{
    position: relative;
    top: 1px;
    line-height: 1em;
    margin-left: var(--margin-left-10);
}

.btn-style-six .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-six .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--headings-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-six:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-six .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--headings-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-six:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-six:hover .btn-wrap .text-two{
	
}

.btn-style-six:hover{
	
}

.btn-style-six:hover:before{
	top: -40%;
}

img{
	display:inline-block;
	max-width:100%;
	height:auto;	
}

/*** 

====================================================================
	Section Title
====================================================================

***/

.sec-title{
	position:relative;
	margin-bottom:var(--margin-bottom-50);
}

.sec-title_title{
	position:relative;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: var(--font-14);
    margin-bottom: var(--margin-bottom-10);
}

.sec-title_title.style-two{
    color: var(--color-fifteen) !important;
}

.sec-title_heading{
    text-transform: capitalize;
}

.sec-title_heading span{
	position: relative;
    display: inline-block;
}

.sec-title_heading span::before{
	position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 4px;
    background-color: var(--main-color);
}

.sec-title.light .sec-title_heading span::before{
    background-color: var(--color-three);
}

.sec-title_text{
	margin-top:var(--margin-top-15);
}

.sec-title.light .sec-title_title,
.sec-title.light .sec-title_text,
.sec-title.light .sec-title_heading{
	color:var(--white-color);
}

.sec-title.centered{
	text-align: center !important;
}

.sec-title.centered .separator{
	margin:0 auto;
}

/* Custom Select */

.form-group .ui-selectmenu-button.ui-button{
	top:-2px;
	width:100%;
	border:0px;
	padding: 0px 0px;
	font-style:normal;
	line-height:28px;
	font-size:var(--font-14);
	color:var(--color-three);
	background-color: var(--white-color);
}

.form-group .ui-button .ui-icon{
	background:none;
	position:relative;
	top:12px;
	text-indent:0px;
	color:#a5a5a5;	
}

.form-group .ui-button .ui-icon:before{
	font-family: 'Font Awesome 6 Pro';
	content: "\f107";
	position:absolute;
	right:0px;
	top:2px !important;
	top:13px;
	height:20px;
	display:block;
	line-height:20px;
	font-size:var(--font-12);
	font-weight:normal;
	text-align:center;
	z-index:5;
	color:var(--color-fiftyfour);
}

.ui-menu .ui-menu-item{
	font-size:var(--font-14);
}

.ui-menu .ui-menu-item:last-child{
	border:none;	
}

.ui-state-active, .ui-widget-content .ui-state-active{
	background-color:var(--main-color) !important;
	border-color:var(--main-color) !important;
}

.ui-menu .ui-menu-item-wrapper{
	position:relative;
	display:block;
	padding:8px 20px;
	line-height:24px;
	font-size:var(--font-14);
}

.ui-menu-item:hover{
	background-color:var(--main-color);
}

/* Newsletter Popup Area Section */

.newsletter-popup-area-section{
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    -webkit-transition: opacity 0.1s ease-in-out,z-index 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out,z-index 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out,z-index 0.1s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.newsletter-popup-area-section .newsletter-popup-area{
	position:relative;
	width: 1025px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    margin-top: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.newsletter-popup-area-section .newsletter-popup-area:before{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	width:60%;
	bottom:0px;
	background-color: var(--white-color);
}

.active-newsletter-popup .newsletter-popup-area{
    margin-top: 0;
}

.newsletter-popup-area-section .newsletter-popup-area .newsletter-popup-ineer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.newsletter-popup-area-section .close-btn{
    position: absolute;
    right: 25px;
    top: 25px;
	z-index:1;
	font-weight:700;
	cursor:pointer;
	font-size:var(--font-20);
    color: var(--black-color);
	font-family: "Flaticon";
}

.active-newsletter-popup,
.activve-quick-view-single-product {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s ease-in-out,z-index 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out,z-index 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out,z-index 0.2s ease-in-out;
}

.active-newsletter-popup {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 1s ease-in-out,z-index 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out,z-index 1s ease-in-out;
    transition: opacity 1s ease-in-out,z-index 1s ease-in-out;
}

.newsletter-popup-area-section .img-holder{
	background-color:#000000;
}

.newsletter-popup-area-section .img-holder img{
	position:relative;
	left:-1px;
}

.newsletter-popup-area-section .detail-box{
	position:relative;
	padding:20px 40px;
}

.newsletter-popup-area-section .detail-box h3{
	max-width:360px;
	margin:0 auto;
	text-align:center;
    color: var(--headings-color);
	margin-bottom:var(--margin-bottom-35);
}

.newsletter-popup-area-section .detail-box h3 span{
	position:relative;
	font-weight:300;
}

.newsletter-popup-area-section .detail-box .sub-title{
	position:relative;
	text-align:center;
	font-weight:700;
	display: block;
	font-size:var(--font-16);
	color:var(--black-color);
	text-transform: capitalize;
	margin-top:var(--margin-top-20);
}

/* Newsletter Box */

.newsletter-popup-area-section .newsletter-box{
	position:relative;
}

.newsletter-popup-area-section .newsletter-box .form-group{
	position:relative;
	margin:0px;
	width:100%;
	max-width:100%;
	border-radius:4px;
	/* background-color:var(--color-eighteen); */
}

.newsletter-popup-area-section .newsletter-box .form-group input[type="text"],
.newsletter-popup-area-section .newsletter-box .form-group input[type="email"]{
	position:relative;
	line-height:43px;
	display:block;
	height:62px;
	width:100%;
	margin:0px 10px;
	border-radius:4px;
	box-shadow:inherit;
	font-size:var(--font-16);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	padding:10px 15px 10px 25px;
	color:var(--black-color);
	background-color:var(--white-color);
	box-shadow:0px 0px 10px rgba(0,0,0,0.10);
}

.newsletter-popup-area-section .newsletter-box .form-group input::placeholder,
.newsletter-popup-area-section .newsletter-box .form-group textarea::placeholder{
	color:var(--black-color);
}

.newsletter-popup-area-section .newsletter-box .form-group button{
	position:relative;
	width:100%;
	margin:0px 10px;
	border-radius:5px;
	font-weight:700;
	padding:22px 15px;
	letter-spacing:1px;
	font-size:var(--font-16);
	text-transform:uppercase;
	color:var(--white-color);
	margin-top:var(--margin-top-15);
	background-color:var(--main-color);
}

.newsletter-popup-area-section .newsletter-box .form-group button:hover{
	color:var(--white-color);
	background-color:var(--black-color);
}












.megamenu_lists > li > a {
    padding: 10px;
    color: #000000;
}
.xs-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1140px;
}
.xs-navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.xs-navbar-brand {
    text-decoration: none;
    color: #000000;
}
.xs-navbar-brand > h2 {
    margin-top: 0;
    margin-bottom: 0;
}
@media (min-width: 992px) {
    .elementskit-header .elementskit-menu-container {
        position: static;
    }
    .elementskit-megamenu-panel > li {
        display: inline-block;
        width: 25%;
        float: left;
    }
}
.language-content p {
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    font-size: rem(20px);
}
.flag-lists {
    text-align: center;
}
.flag-lists li {
    display: inline-block;
    margin-right: 25px;
}
.flag-lists li:last-child {
    margin-right: 0;
}
.flag-lists li a {
    display: block;
    color: #ffffff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flag-lists li a:hover {
    opacity: 0.7;
}
.flag-lists li a img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
.modal-searchPanel .xs-search-group {
    position: relative;
}
.modal-searchPanel .xs-search-group input:not([type="submit"]) {
    height: 70px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 0 30px;
    width: 100%;
}
.modal-searchPanel .xs-search-group input:not([type="submit"])::-webkit-input-placeholder {
    color: #ffffff;
}
.modal-searchPanel .xs-search-group input:not([type="submit"])::-moz-placeholder {
    color: #ffffff;
}
.modal-searchPanel .xs-search-group input:not([type="submit"]):-ms-input-placeholder {
    color: #ffffff;
}
.modal-searchPanel .xs-search-group input:not([type="submit"]):-moz-placeholder {
    color: #ffffff;
}
.modal-searchPanel .xs-search-group .search-button {
    background-color: transparent;
    border: 0px;
    padding: 0;
    color: #ffffff;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    width: 70px;
    border-radius: 0 50px 50px 0;
}
.modal-searchPanel .xs-search-panel {
    max-width: 800px;
    margin: 1.75rem auto;
}
.mfp-bg.xs-promo-popup {
    background-color: rgba(0, 0, 0, 0.87);
    padding-bottom: 100%;
    border-radius: 100%;
    overflow: hidden;
    -webkit-animation: menu-animation 0.8s ease-out forwards;
    animation: menu-animation 0.8s ease-out forwards;
}
@-webkit-keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }
    61% {
        opacity: 1;
        -webkit-transform: scale(0.04) translateY(0px);
        transform: scale(0.04) translateY(0px);
    }
    99.9% {
        opacity: 1;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    to {
        opacity: 1;
        -webkit-transform: scale(2) translateY(0px);
        transform: scale(2) translateY(0px);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}
@keyframes menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0px);
        transform: scale(0.02) translateY(0px);
    }
    61% {
        opacity: 1;
        -webkit-transform: scale(0.04) translateY(0px);
        transform: scale(0.04) translateY(0px);
    }
    99.9% {
        opacity: 1;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    to {
        opacity: 1;
        -webkit-transform: scale(2) translateY(0px);
        transform: scale(2) translateY(0px);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}
.xs-promo-popup .modal-content {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}
.xs-promo-popup .mfp-close {
    color: #ffffff;
    opacity: 0;
    -webkit-transition: all 1s ease 0.8s;
    -o-transition: all 1s ease 0.8s;
    transition: all 1s ease 0.8s;
    -webkit-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    transform: translateY(-500px);
}
.xs-promo-popup.mfp-ready .mfp-close {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.xs-promo-popup.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 1s ease 0.8s;
    -o-transition: all 1s ease 0.8s;
    transition: all 1s ease 0.8s;
    -webkit-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    transform: translateY(-500px);
}
.xs-promo-popup.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.mini_cart_item {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.xs-empty-content {
    padding: 120px 30px 30px;
}
.xs-empty-content .widget-title {
    font-size: rem(22px);
}
.xs-empty-content .xs-title {
    margin-bottom: 20px;
    font-size: rem(18px);
}
.xs-empty-content .woocommerce-mini-cart__empty-message {
    font-size: rem(20px);
}
.xs-empty-content .empty-cart-icon {
    font-size: rem(50px);
}
.sidebar-textwidget .sidebar-logo-wraper {
    margin-bottom: 33px;
}
.sidebar-textwidget > p {
    font-size: rem(15px);
    line-height: 1.5;
    margin-bottom: 40px;
}
.sidebar-textwidget .social-list {
    margin-bottom: 30px;
}
.sideabr-list-widget {
    margin-bottom: 40px;
}
.sideabr-list-widget li {
    margin-bottom: 20px;
}
.sideabr-list-widget li:last-child {
    margin-bottom: 0px;
}
.sideabr-list-widget img {
    margin-right: 15px;
    margin-top: 3px;
}
.sideabr-list-widget a,
.sideabr-list-widget p {
    margin-bottom: 2px;
    color: #000000;
    margin-bottom: 8px;
    display: block;
}
.sideabr-list-widget span {
    display: block;
    font-size: rem(14px);
    color: #1768dd;
}
.sideabr-list-widget .media-body {
    line-height: 1;
}
.subscribe-from {
    position: relative;
    margin-bottom: 40px;
}
.subscribe-from p {
    font-size: rem(18px);
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1;
    color: #1768dd;
}
.subscribe-from label {
    position: absolute;
    bottom: -24px;
    left: 0px;
    margin-bottom: 0;
    line-height: 1;
}
.subscribe-from .form-control {
    border: 1px solid #f5f5f5;
    height: 50px;
    padding-left: 25px;
}
.subscribe-from .sub-btn {
    background-color: transparent;
    border: 0px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 25px;
    cursor: pointer;
    color: #1768dd;
    height: 100%;
}
.subscribe-from .sub-btn:focus {
    outline: none;
}
.subscribe-from .form-group {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(23, 104, 221, 0.2);
    box-shadow: 0px 10px 30px 0px rgba(23, 104, 221, 0.2);
    border-radius: 25px;
    margin-bottom: 0px;
}
.xs-sidebar-group .xs-overlay {
    left: 100%;
    top: 0;
    position: fixed;
    z-index: 101;
    height: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in 0.8s;
    -o-transition: all 0.4s ease-in 0.8s;
    transition: all 0.4s ease-in 0.8s;
    cursor: url(../images/cross-out.png), pointer;
}

.xs-sidebar-group .close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
	cursor:pointer;
}

.xs-sidebar-group .close-button .mdi{
	color:var(--color-four);
	font-size:var(--font-14);
	font-family: "Material Design Icons";
}

.xs-sidebar-group .close-button .mdi:hover{
	color:var(--black-color);
}

.xs-sidebar-widget:nth-child(2){
	right:-380px;
}

.xs-sidebar-widget {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 370px;
    z-index: 999999;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    -webkit-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
    -o-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
    transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
}
.xs-sidebar-group.isActive .xs-overlay {
    opacity: 0.7;
    visibility: visible;
    -webkit-transition: all 0.8s ease-out 0s;
    -o-transition: all 0.8s ease-out 0s;
    transition: all 0.8s ease-out 0s;
    left: 0;
}
.xs-sidebar-group.isActive .xs-sidebar-widget {
    opacity: 1;
    visibility: visible;
    right: 380px;
    -webkit-transition: all 0.8s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
    -o-transition: all 0.7s cubic-bezier(0.8, 0.03, 0, 0.96) 0.4s;
    transition: all 0.8s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}
.sidebar-textwidget {
    padding: 0px;
}
.close-side-widget {
    font-size: rem(15px);
    display: block;
}
.sidebar-widget-container {
    position: relative;
    top: 0px;
    -webkit-transition: all 0.3s ease-in 0.3s;
    -o-transition: all 0.3s ease-in 0.3s;
    transition: all 0.3s ease-in 0.3s;
}
.xs-sidebar-group.isActive .sidebar-widget-container {
    -webkit-transition: all 1s ease-out 1.2s;
    -o-transition: all 1s ease-out 1.2s;
    transition: all 1s ease-out 1.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.xs-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 0;
}
.xs-bg-black {
    background-color: #000000;
}
.xs-menu-tools > li {
    display: inline-block;
    margin-right: 15px;
}
.xs-menu-tools > li:last-child {
    margin-right: 0;
}
.xs-menu-tools > li > a {
    color: #000000;
    text-decoration: none;
}
.nav-alignment-dynamic,
.nav-alignment-flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.elementskit-menu-container {
    z-index: 10000;
}
.elementskit-navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.elementskit-navbar-nav li {
    position: relative;
    padding: 0px 15px;
}
.elementskit-navbar-nav li:last-child {
    border-bottom: none;
}
.elementskit-navbar-nav li a {
    height: 100%;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}
.elementskit-navbar-nav li a:hover {
    text-decoration: none;
}
.elementskit-navbar-nav li.elementskit-megamenu-has {
    position: static;
}
.elementskit-navbar-nav > li > a {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-transform: none;
    font-weight: 500;
    letter-spacing: normal;
}
.elementskit-dropdown {
    padding-left: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
}
.elementskit-dropdown > li > .elementskit-dropdown {
    left: 100%;
    top: 0;
}
.elementskit-dropdown > li > .elementskit-dropdown.open-fromleft {
    left: auto;
    right: 100%;
}
.elementskit-submenu-panel > li:hover > a,
.elementskit-submenu-panel > li > a:hover {
    color: #0d3a4f;
    background: rgba(255, 255, 255, 0.5);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.elementskit-megamenu-panel {
    width: 100%;
}
.elementskit-overlay {
    display: none;
}
.elementskit-nav-identity-panel {
    display: none;
}
.elementskit-menu-hamburger {
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: right;
}
.elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, 0.5);
}
.elementskit-menu-close,
.elementskit-menu-hamburger {
    display: none;
    padding: 8px;
    background-color: transparent;
    border-radius: 0.25rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
    width: 45px;
}
.elementskit-menu-close .elementskit-menu-hamburger-icon,
.elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    height: 1px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}
.elementskit-menu-close .elementskit-menu-hamburger-icon:last-child,
.elementskit-menu-hamburger .elementskit-menu-hamburger-icon:last-child {
    margin-bottom: 0;
}
.elementskit-menu-close {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(51, 51, 51, 0.5);
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.elementskit-dropdown-has:hover > a:after {
    border-color: transparent #1e73be #1e73be transparent;
}
.elementskit-dropdown-has > a {
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.elementskit-dropdown-has > a:hover:after {
    border-color: transparent #1e73be #1e73be transparent;
}
.elementskit-dropdown-has > a:after {
}
.elementskit-submenu-panel .elementskit-dropdown-has:hover > a:after {
    border-color: transparent #0d3a4f #0d3a4f transparent;
}
.elementskit-submenu-panel .elementskit-dropdown-has > a:hover:after {
    border-color: transparent #0d3a4f #0d3a4f transparent;
}
@media (min-width: 992px) {
    .elementskit-dropdown .elementskit-dropdown-has > a:after {
    }
    .elementskit-menu-container {
        background: rgba(255, 255, 255, 0);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        position: relative;
    }
    .elementskit-dropdown {
        min-width: 250px;
    }
    .elementskit-navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .elementskit-navbar-nav > li > a {
    }
    .elementskit-dropdown {
        -webkit-box-shadow: 0px 10px 30px 0px rgba(45, 45, 45, 0.2);
        box-shadow: 0px 10px 30px 0px rgba(45, 45, 45, 0.2);
        position: absolute;
        top: 100%;
        left: 0px;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
        pointer-events: none;
    }
    .elementskit-dropdown-has:hover > .elementskit-dropdown {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        pointer-events: auto;
    }
}
@media (max-width: 991px) {
    .elementskit-menu-container {
        background: #f7f7f7;
        background: -webkit-gradient(linear, left bottom, left top, from(#f7f7f7), to(#f7f7f7));
        background: -webkit-linear-gradient(bottom, #f7f7f7 0%, #f7f7f7 100%);
        background: -o-linear-gradient(bottom, #f7f7f7 0%, #f7f7f7 100%);
        background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
        max-width: 350px;
        width: 100%;
        position: fixed;
        top: 0;
        left: -450px;
        height: 100%;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(255, 165, 0, 0);
        box-shadow: 0px 10px 30px 0px rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        -webkit-transition: left 600ms cubic-bezier(0.6, 0.1, 0.68, 0.53) 0ms;
        -o-transition: left 600ms cubic-bezier(0.6, 0.1, 0.68, 0.53) 0ms;
        transition: left 600ms cubic-bezier(0.6, 0.1, 0.68, 0.53) 0ms;
    }
    .elementskit-menu-container.active {
        left: 0;
    }
    .no-scroller {
        overflow: hidden;
    }
    .elementskit-menu-overlay {
        display: block;
        position: fixed;
        z-index: 5;
        top: 0;
        left: -110%;
        height: 100%;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.5);
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 600ms cubic-bezier(0.6, 0.1, 0.68, 0.53) 400ms;
        -o-transition: all 600ms cubic-bezier(0.6, 0.1, 0.68, 0.53) 400ms;
        transition: all 600ms cubic-bezier(0.6, 0.1, 0.68, 0.53) 400ms;
    }
    .elementskit-menu-overlay.active {
        left: 0%;
        -webkit-transition: all 600ms cubic-bezier(0.22, 0.61, 0.24, 1) 0ms;
        -o-transition: all 600ms cubic-bezier(0.22, 0.61, 0.24, 1) 0ms;
        transition: all 600ms cubic-bezier(0.22, 0.61, 0.24, 1) 0ms;
    }
    .elementskit-menu-close,
    .elementskit-menu-hamburger {
        display: block;
    }
    .elementskit-nav-identity-panel {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
    }
    .elementskit-nav-identity-panel .elementskit-site-title {
        float: left;
    }
    .elementskit-nav-identity-panel .elementskit-menu-close {
        float: right;
    }
    .elementskit-navbar-nav {
        padding-top: 100px;
    }
    .elementskit-navbar-nav > li > a {
        color: #000000;
        font-size: 12px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .elementskit-navbar-nav > li > a:hover {
        color: #0d3a4f;
    }
    .elementskit-navbar-nav > li:hover > a {
        color: #0d3a4f;
    }
    .elementskit-submenu-panel > li > a {
        color: #000000;
        font-size: 12px;
        padding-top: 7px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 7px;
    }
    .elementskit-dropdown {
        max-height: 0;
        overflow: hidden;
        display: block;
        border: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: max-height 2s cubic-bezier(0, 1, 0, 1);
        -o-transition: max-height 2s cubic-bezier(0, 1, 0, 1);
        transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    }
    .elementskit-dropdown.elementskit-dropdown-open {
        max-height: 2500px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: max-height 5s ease-out;
        -o-transition: max-height 5s ease-out;
        transition: max-height 5s ease-out;
    }
    .elementskit-navbar-nav > .elementskit-dropdown-has > .elementskit-dropdown li a {
        padding-left: 15px;
    }
}

/* Animation */
.parallax > use {
    -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

.xs-sidebar-widget-two{
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 370px;
    z-index: 999999;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    -webkit-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
    -o-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
    transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
}
.xs-sidebar-group.isActive .xs-overlay {
    opacity: 0.5;
    visibility: visible;
    -webkit-transition: all 0.8s ease-out 0s;
    -o-transition: all 0.8s ease-out 0s;
    transition: all 0.8s ease-out 0s;
    left: 0;
}
.xs-sidebar-group.isActive .xs-sidebar-widget-two {
    opacity: 1;
    visibility: visible;
    right: 0px;
    -webkit-transition: all 0.8s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
    -o-transition: all 0.7s cubic-bezier(0.8, 0.03, 0, 0.96) 0.4s;
    transition: all 0.8s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}

.xs-sidebar-group.isActive .xs-sidebar-widget:nth-child(2){
	right:0px;
}

/* Cursor */

.cursor {
    position: fixed;
    background-color: var(--main-color);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: scale(1);
	transform: scale(1);
}
  
.cursor.active {
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}
  
.cursor.menu-active {
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}
  
.cursor.hovered {
	opacity: 1;
}
  
.cursor-follower {
	position: fixed;
	border: 0.5px solid var(--main-color);
	width: 30px;
	height: 30px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: translate(2px, 2px);
	transform: translate(2px, 2px);
}

.cursor-follower.active {
	opacity: 1;
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cursor-follower.menu-active {
	opacity: 1;
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cursor-follower.hovered {
	opacity: 1;
}
  
/* Cursor End */

.xs-sidebar-group .close-button{
	font-family: "Flaticon";
}

.newsletter-popup-area-section{
	display: none;
}